<a href="https://colab.research.google.com/github/XFabian001/Data-Mining-22/blob/main/Bach.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
from pandas import DataFrame
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

bach = pd.read_csv('https://raw.githubusercontent.com/zacharski/ml-class/master/data/bach.zip')

#Onehot encoding of feature data
notes = ('C',	'C#',	'D',	'D#',	'E',	'F',	'F#',	'G',	'G#', 'A', 'A#', 'B')

for note in notes:
  one_hot = pd.get_dummies(bach[[note]])
  bach = bach.drop(note, axis=1)
  bach = bach.join(one_hot)

one_hot = pd.get_dummies(bach['bass'])
bach = bach.drop('bass', axis=1)
one_hot = one_hot.add_prefix('bass_')
bach = bach.join(one_hot)

one_hot = pd.get_dummies(bach['meter'])
bach = bach.drop('meter', axis=1)
bach = bach.join(one_hot)

#One hot encoding the Choral IDs and using them as a feature yeilds higher accuracy ~75% vs ~72% for random_state=42
#one_hot = pd.get_dummies(bach['choral_ID'])
#bach = bach.drop('choral_ID', axis=1)
#one_hot = one_hot.add_prefix('choral_')
#bach = bach.join(one_hot)



bach = bach.drop('choral_ID', axis=1)
#event_number has a negative impact on accuracy
bach = bach.drop('event_number', axis=1)

bach

,chord_label,C_NO,C_YES,C#_NO,C#_YES,D_NO,D_YES,D#_NO,D#_YES,E_NO,...,bass_Eb,bass_F,bass_F#,bass_G,bass_G#,1,2,3,4,5
0,F_M,0,1,1,0,1,0,1,0,1,...,0,1,0,0,0,0,0,1,0,0
1,C_M,0,1,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
2,C_M,0,1,1,0,1,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
3,F_M,0,1,1,0,1,0,1,0,1,...,0,1,0,0,0,0,0,1,0,0
4,F_M,0,1,1,0,1,0,1,0,1,...,0,1,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5660,G_m,1,0,1,0,0,1,1,0,1,...,0,0,0,1,0,0,0,0,1,0
5661,G_m,1,0,1,0,0,1,1,0,1,...,0,0,0,1,0,0,0,1,0,0
5662,C_M,0,1,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
5663,C_M,0,1,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
5664,F_M,1,0,1,0,1,0,1,0,1,...,0,1,0,0,0,0,0,0,1,0

In [4]:
#Seperate data (random_state=0)
bfeatures = bach.drop('chord_label', axis=1)
blabels = bach[['chord_label']]
bf_train, bf_test, bl_train, bl_test = train_test_split(bfeatures, blabels, test_size = 0.2, random_state=0)


#CLF method (Default depth)
from sklearn import tree
clf = tree.DecisionTreeClassifier(criterion='entropy')
clf.fit(bf_train, bl_train)
bach_predict = clf.predict(bf_test)
score = accuracy_score(bl_test, bach_predict)
print(score)

0.7546337157987644

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

In [5]:

#Seperate data (random_state=42)
bfeatures = bach.drop('chord_label', axis=1)
blabels = bach[['chord_label']]
bf_train, bf_test, bl_train, bl_test = train_test_split(bfeatures, blabels, test_size = 0.2, random_state=42)

#CLF method (Default depth)
from sklearn import tree
clf = tree.DecisionTreeClassifier(criterion='entropy')
clf.fit(bf_train, bl_train)
bach_predict = clf.predict(bf_test)
score = accuracy_score(bl_test, bach_predict)
print(score)

0.7193292144748455

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

In [6]:
import pandas as pd
from pandas import DataFrame
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

bach = pd.read_csv('https://raw.githubusercontent.com/zacharski/ml-class/master/data/bach.zip')

#Onehot encoding of feature data
notes = ('C',	'C#',	'D',	'D#',	'E',	'F',	'F#',	'G',	'G#', 'A', 'A#', 'B')

for note in notes:
  one_hot = pd.get_dummies(bach[[note]])
  bach = bach.drop(note, axis=1)
  bach = bach.join(one_hot)

one_hot = pd.get_dummies(bach['bass'])
bach = bach.drop('bass', axis=1)
one_hot = one_hot.add_prefix('bass_')
bach = bach.join(one_hot)

one_hot = pd.get_dummies(bach['meter'])
bach = bach.drop('meter', axis=1)
bach = bach.join(one_hot)

#One hot encoding the Choral IDs
one_hot = pd.get_dummies(bach['choral_ID'])
bach = bach.drop('choral_ID', axis=1)
one_hot = one_hot.add_prefix('choral_')
bach = bach.join(one_hot)

#bach = bach.drop('choral_ID', axis=1)

bach = bach.drop('event_number', axis=1)

#Function taken from pandas.pydata.org

bach = bach.drop_duplicates(keep="first", inplace=False)

In [7]:
#Seperate data (random_state=0)
bfeatures = bach.drop('chord_label', axis=1)
blabels = bach[['chord_label']]
bf_train, bf_test, bl_train, bl_test = train_test_split(bfeatures, blabels, test_size = 0.2, random_state=0)

#CLF method (Default depth)
from sklearn import tree
clf = tree.DecisionTreeClassifier(criterion='entropy')
clf.fit(bf_train, bl_train)
bach_predict = clf.predict(bf_test)
score = accuracy_score(bl_test, bach_predict)
print(score)

0.5975935828877005

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

In [8]:
#Seperate data (random_state=42)
bfeatures = bach.drop('chord_label', axis=1)
blabels = bach[['chord_label']]
bf_train, bf_test, bl_train, bl_test = train_test_split(bfeatures, blabels, test_size = 0.2, random_state=42)

#CLF method (Default depth)
from sklearn import tree
clf = tree.DecisionTreeClassifier(criterion='entropy')
clf.fit(bf_train, bl_train)
bach_predict = clf.predict(bf_test)
score = accuracy_score(bl_test, bach_predict)
print(score)

0.5681818181818182

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

Using an uncapped depth and random_state equal to zero, we were able to achieve the best results with 75.2% accuracy. The accuracy score dropped to 71.8% when the random_state was changed to 42, most likely due to the way the random number generator split the data. In an attempt to find out what would happen if I removed duplicate data values and one-hot encoded Choral ID values, I found that the results had dropped to 60% and 58%, respectively, after removing duplicate data values. I would have loved to see my accuracy a bit higher but this is the highest I could achieve.

Overall, this was a fun and engaging project to work on.